body{
    background-color: antiquewhite;
    padding: 50px;
}
#header{
    text-align: center;
    color: brown;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
}
h2,h3,h4{
    color: brown;
    padding: 20px;
    background-color: burlywood;
}